#login-section {
    background: url(../img/undraw_online_connection_6778.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

#login-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background-color: rgba(0, 0, 0, 0.5);
}

#login-section .home-inner {
    padding-top: 150px;
}

#login-section .card-form {
    opacity: 0.95;
}

#home-sidebar-sticky {
    padding-top: 60px;
    background: #fff;
}

.home-sidebar-avatar img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    background-repeat: 50% !important;
}
